.thread-tags{ng-show: "anyTags()"}
  %a.thread-tag{ng-repeat: "dtag in discussionTags() | orderBy: 'tag().name' track by dtag.id", lmo-href-for: "dtag.tag()", style: "background-color: {{dtag.tag().color}};"}
    %span {{dtag.tag().name}}
