.loading-wrapper.lmo-two-column-layout
  %loading{ng-if: "!tagsPage.tag.group()"}
  %main.tags-page{ng-if: "tagsPage.tag.group()"}
    %group_theme{group: "tagsPage.tag.group()", home-page: "true"}
    .wark
      Hello world!
