.discussion-tag-dropdown {
  min-width: 213px;
}

.discussion-tag-dropdown__list-item {
  display: flex;
  margin-bottom: 5px;
}

.discussion-tag-dropdown__list-item .discussion-tag-dropdown__label {
  border-radius: 5px;
  flex-grow: 2;
  padding: 5px 0 5px 5px;
  margin: 0;
  color: white;
  text-shadow: 1px 1px 1px black;
  i.fa { color: white; }
}

.discussion-tag-dropdown__list-item .discussion-tag-dropdown__edit {
  margin: 0 -10px 0 5px;
  padding: 0 5px;
  line-height: 30px;
  border-radius: 5px;
}

.discussion-tag-dropdown__list-item.discussion-tag-dropdown__new {
  margin-right: 17px;
  border-radius: 5px;
  border: 1px solid #ccc;
  a {
    color: $primary-text-color;
    text-shadow: none;
  }
  i.fa {
    width: 30px;
    text-align: center;
    color: $primary-text-color;
  }
}

.discussion-tag-dropdown__list-item i.fa {
  width: inherit;
}

.discussion-tag-dropdown__selected {
  display: inline-block;
  width: 20px;
  margin-left: 8px;
}
