.tag-dropdown__swatch {
  width: 15px;
  height: 15px;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px 3px;
}

.tag-dropdown__selected {
  display: inline-block;
  width: 15px;
}
