.tag-dropdown__swatch {
  width: 15px;
  height: 15px;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px 3px;
}

.tag-dropdown__selected {
  display: inline-block;
  width: 15px;
}

.tag-dropdown__submit,
.tag-dropdown__cancel {
  padding: 6px;
}

.tag-dropdown__color-option-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -2px;
  margin-bottom: 5px;
}

.tag-dropdown__input-container {
  position: relative;
}

.tag-dropdown__form-swatch {
  position: absolute;
  top: 7px;
  left: 7px;
  width: 20px;
  height: 20px;
  border-radius: 4px;
}

.tag-dropdown__color-input {
  padding-left: 30px;
}

.tag-dropdown__color-option {
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin: 1px;
  border-radius: 4px;
  i {
    position: relative;
    bottom: 1px;
    left: 2px;
    color: white;
  }
}
