%span{uib-dropdown: "true"}
  %button.thread-context__dropdown-button.lmo-btn--nude{ng-if: "canViewTags()", uib-dropdown-toggle: "true"}
    .sr-only{translate: "thread_context.tag_options"}
    %i.fa.fa-fw.fa-tag
    %span Tags
  .discussion-tag-dropdown.uib-dropdown-menu.lmo-dropdown-menu{ng-click: "preventClose($event)"}
    %ul.lmo-dropdown-menu-items.discussion-tag-dropdown__list{ng-if: "!showTagForm"}
      %li.lmo-dropdown-menu-item.discussion-tag-dropdown__list-item{ng-repeat: "tag in groupTags() | orderBy: 'name' track by tag.id"}
        %a.lmo-dropdown-menu-item-label.discussion-tag-dropdown__label{lmo-href-for: "tag", style: "background-color: {{tag.color}}"}
          %span.discussion-tag-dropdown__swatch{style: "background-color: {{tag.color}};"}
          %span> {{ tag.name }}
          %span{ng-if: "tag.discussionTagsCount == 1", translate: "loomio_tags.discussions_count_singular", translate-value-count: "{{tag.discussionTagsCount}}"}>
          %span{ng-if: "tag.discussionTagsCount > 1", translate: "loomio_tags.discussions_count_plural", translate-value-count: "{{tag.discussionTagsCount}}"}>
        %a.discussion-tag-dropdown__edit{ng-if: "canAdministerGroup()", ng-click: "editTag($event, tag)"}
          %i.fa.fa-pencil
      %li.lmo-dropdown-menu-item.discussion-tag-dropdown__list-item.discussion-tag-dropdown__new{ng-if: "canAdministerGroup()"}
        %a.lmo-dropdown-menu-item-label.discussion-tag-dropdown__label{href: "", ng-click: "editTag($event)"}
          %i.fa.fa-plus
          %span{translate: "loomio_tags.new_tag"}
    %tag_form{tag: "currentTag", ng-if: "showTagForm"}
