%md-menu.lmo-dropdown-menu{md-position-mode: "target-right target", ng-if: "canAddTags()"}
  %md-button.tag-dropdown__button{ng-click: "$mdMenu.open()"}
    .sr-only{translate: "loomio_tags.tags"}
    %i.material-icons label_outline
  %md-menu-content.tag-dropdown__menu
    %tag_list{discussion: "discussion", ng-if: "!currentTag"}
